.custom-badge {
	margin-left: -22px!important;
	margin-top: -40px!important;
}

/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(https://s3-ap-southeast-1.amazonaws.com/rukuka-assets/images/loading.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.blog-title {
	font-size: 40px !important;
}

.blog-subtitle {
	font-size: 28px !important;
}

.blog-loadmore {
	font-size: 24px !important;
}

.blog-nav-background{
	background: rgba(248,248,248,1)
}

.blog-sticky-background{
	 background: rgba(248,248,248,.9)
}

.blog-black-text{
	color: #505050;
}
.blog-white-text{
	color: #FFFFFF;
}

.blog-grey-text{
	color: #B4B4B4;
}

/*START RATING CSS*/
.stars {
	background: url(../../../images/stars-review.png) repeat-x 0 0;
	width: 150px;
	margin: 0 auto;
}
.stars input[type="radio"] {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}
.stars input[type="radio"].star-5:checked ~ span {
	width: 100%;
}
.stars input[type="radio"].star-4:checked ~ span {
	width: 80%;
}
.stars input[type="radio"].star-3:checked ~ span {
	width: 60%;
}
.stars input[type="radio"].star-2:checked ~ span {
	width: 40%;
}
.stars input[type="radio"].star-1:checked ~ span {
	width: 20%;
}
.stars label {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0!important;
	padding: 0!important;
	text-indent: -999em;
	float: left;
	position: relative;
	z-index: 10;
	background: transparent!important;
	cursor: pointer;
}
.stars label:hover ~ span {
	background-position: 0 -30px;
}
.stars label.star-5:hover ~ span {
	width: 100% !important;
}
.stars label.star-4:hover ~ span {
	width: 80% !important;
}
.stars label.star-3:hover ~ span {
	width: 60% !important;
}
.stars label.star-2:hover ~ span {
	width: 40% !important;
}
.stars label.star-1:hover ~ span {
	width: 20% !important;
}
.stars span {
	display: block;
	width: 0;
	position: relative;
	top: 0;
	left: 0;
	height: 30px;
 	background: url(../../../images/stars-review.png) repeat-x 0 -60px;
	-webkit-transition: -webkit-width 0.5s;
	-moz-transition: -moz-width 0.5s;
	-ms-transition: -ms-width 0.5s;
	-o-transition: -o-width 0.5s;
	transition: width 0.5s;
}
.stars label {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0!important;
	padding: 0!important;
	text-indent: -999em;
	float: left;
	position: relative;
	z-index: 10;
	background: transparent!important;
	cursor: pointer;
}
/*END STARS RATING CSS*/

/*FOR PRODUCT STARS RATING CSS*/
.stars-product {
	background: url(../../../images/stars-product.png) repeat-x 0 0;
	width: 105px;
	margin: 0 auto;
}
.stars-product input[type="radio"] {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}
.stars-product input[type="radio"].star-5:checked ~ span {
	width: 100%;
}
.stars-product input[type="radio"].star-4:checked ~ span {
	width: 80%;
}
.stars-product input[type="radio"].star-3:checked ~ span {
	width: 60%;
}
.stars-product input[type="radio"].star-2:checked ~ span {
	width: 40%;
}
.stars-product input[type="radio"].star-1:checked ~ span {
	width: 20%;
}
.stars-product span {
	display: block;
	width: 0;
	position: relative;
	top: 0;
	left: 0;
	height: 30px;
	background: url(../../../images/stars-product.png) repeat-x 0 -60px;
	-webkit-transition: -webkit-width 0.5s;
	-moz-transition: -moz-width 0.5s;
	-ms-transition: -ms-width 0.5s;
	-o-transition: -o-width 0.5s;
	transition: width 0.5s;
}

.stars-position {
	margin-top: -25px; margin-left: 200px;
}
.stars-count-position {
	margin-top: -25px; margin-left: 310px
}
/*END PRODUCT STARS RATINGS CSS*/

